.ios, .md {

		page-home {

			.swiper-container, .swiper-wrapper, .swiper-slide, .swiper-zoom {
					display: block;
					background-color: red;
			}

			ion-list{
				/*border:1px solid rgba(0, 0, 0, 0.5);*/

			}

			ion-item{
				/*width: 100%;*/
        font-size: x-small;
			}

			ion-item-options button{
				/*width: 100%;*/

			}
		}
}
