.ios, .md {

		page-home {

			.swiper-container, .swiper-wrapper, .swiper-slide, .swiper-zoom {
					display: block;
					background-color: red;
			}

			ion-list{
				border:1px solid rgba(0, 0, 0, 0.5);
				height:150px;
			}

			ion-item{
				text-align:center;
				height:150px;
			}
		}	
}
